* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**** 
Header
****/

html, body {
  height: 100%;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgb(247, 168, 168);
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    background-color: #ececec;
    padding: 25px;
}

nav a:hover, .contact a:hover, .footer-nav a:hover {
    color:rgb(255, 80, 80);
}

h1, .top-nav {
    text-align: center;
}

.top-nav, .top-nav li {
    width: 100%
}

h1 a, .top-nav a, .footer-nav a {
    color: rgb(0, 0, 0);
}

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff;
}

.top-nav a, .footer-nav a {
    text-transform: uppercase;
}

/**** 
Main 
****/

.profile-picture {
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
  max-width: 100%;
}

.profile-picture p {
  padding: 20px;
  line-height: 1.5;
}

.profile-picture h3 {
  padding-bottom: 20px;
}

.portfolio-title {
  text-align: center;
  letter-spacing: 1px;
  margin: 0 auto;
  padding-bottom: 20px;
  color: rgb(17, 74, 160);
}

.container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    letter-spacing: 1px;
}

.container img {
    max-width: 100%;
}

.col {
    margin: 10px;
    min-height: 250px;
    color: black;
    text-align: center;
    padding-top: 5px;
}

.col h2 {
  padding: 10px 0;
}

.col p {
  padding-bottom: 5px;
  line-height: 1.5;
}

.contact {
  text-align: center;
  letter-spacing: 1px;
  margin: 40px 20px;
  background-color: #ececec;
}

.contact h2 {
  padding-top: 25px;
}
.contact h2, p, li {
  padding-bottom: 25px;
}

.skills-list {
  padding: 30px 20px 20px 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 2;
}

.skills-list h2 {
  color: rgb(17, 74, 160);
  padding-bottom: 20px;
}

/**** 
Footer 
****/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 20px 20px;
  height: 100px;
}

.full {
  display: none;
}

/****
 Media Queries 
 ****/

@media (min-width: 768px) {
    .top-nav {
      margin-top: 0;
    }
  
    .top-nav li {
      display: inline-block;
      width: auto;
      margin-right: 15px;
      background-color: transparent;
    }
  
    .top-nav li:last-child {
      margin-right: 0;
    }

    .profile-picture {
      display: flex;
      flex-direction: row-reverse;
      width: auto;
      text-align: left;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .col {
      flex-basis: calc(50% - 20px);
    }
    
    .top {
      display: none;
    }
    .full {
      display: inline-block;
      margin-left: 20px;
    }
  }
  
  
  @media (min-width: 1024px) {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .top-nav, 
    .top-nav li {
      width: initial;
      margin-bottom: 0;
    }

    .col {
      flex-basis: calc(33.333% - 20px);
    }
  }
  
